<!DOCTYPE html>
<html>
  <head>
    <title><%= data.subject %></title>
  </head>
  <body>
    <h2>New Customer Contact Request</h2>
    <p><strong>Name:</strong> <%= data.name %></p>
    <p><strong>Email:</strong> <%= data.email %></p>
    <p><strong>Phone Number:</strong> <%= data.phone %></p>
    <p><strong>Message:</strong> <%= data.message %></p>
  </body>
</html>
